<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if title %}{{title}} &raquo; {% endif %}Banterability</title>
		<meta name="description" content="Banterability is Jeff Long.">
		<meta name="author" content="Jeff Long">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content="{{ eleventy.generator }}">
		<meta name="generatedAt" content="{{ generatedAt }}">

		<link rel="stylesheet" href="/assets/styles/global.css"/>
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7084114/6199432/css/fonts.css"/>
		<link rel="stylesheet" href="/assets/styles/prism.css"/>
	</head>
	<body>
		<div class="main-content">
			<header>
				<h1>
					<a href="/">Banterability</a>
				</h1>
				{% include 'nav.njk' %}
			</header>
			<main>
				{{ content | safe }}
			</main>
		</div>
		<footer>
			<p>Made with love &amp; keyboards in Chicago <span class="chicago-star">✶✶✶✶</span></p>
		</footer>
	</body>
</html>