<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% if title %}{{title}} &raquo; {% endif %}Banterability</title>
		<meta name="description" content="Banterability is Jeff Long.">
		<meta name="author" content="Jeff Long">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/styles/global.css"/>
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7084114/6199432/css/fonts.css"/>
	</head>
	<body>
		<header>
			<h1>Jeff Long</h1>
			<nav>
				<ul>
					<li>
						<a {% if page.url == "/" %}class="active" {% endif %} href="/">About</a>
					</li>
					<li>
						<a {% if page.url == "/posts/" %}class="active" {% endif %} href="/posts">Writing</a>
					</li>
					<li>
						<a {% if page.url == "/now/" %}class="active" {% endif %} href="/now">Now</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			<span>Made with ❤️ and ⌨️ in Chicago</span>
			<span>Last generated {{generatedAt | readableDate}}
			</footer>
		</body>
	</html>