<nav>
  <ul>
    <li>
      <a {% if page.url == "/writing/" %}class="active" {% endif %}href="/writing">Writing</a>
    </li>
    <li>
      <a {% if page.url == "/now/" %}class="active" {% endif %}href="/now">Now</a>
    </li>
    <li>
      <a {% if page.url == "/about/" %}class="active" {% endif %}href="/about">About</a>
    </li>
  </ul>
</nav>