---
layout: base
---

<article class="post">
  <h2>{{title}}</h2>
  <abbr class="publishedAt" title="{{page.date}}">{{ page.date | readableDate }} | {{page.date | relativeDate }}</abbr>

  {{ content | fixTypography | safe }}
</article>

<hr />

<div class="post-navigation">
{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}

<div>
  Previous:
{% if previousPost %}
   <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
{% else %}
  <em>none</em>
{% endif %}
</div>

<a href="/writing">All Posts</a>

<div>
  Next: 
  {% if nextPost %}
    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
  {% else %}
    <em>none</em>
  {% endif %}
</div>

</div>

<hr />