transition()
  -o-transition arguments
  -moz-transition arguments
  -webkit-transition arguments
  transition arguments

headline_font()
  font-family: 'Gotham SSm A', 'Gotham SSm B'
  font-style: normal
  font-weight: 700

body_font()
  font-family: 'Whitney SSm A', 'Whitney SSm B'
  font-style: normal
  font-weight: 500
