font_weight_light = 300
font_weight_normal = 500
font_weight_bold = 700
font_weight_headlines = 600
font_family_body = 'Whitney SSm A', 'Whitney SSm B'
font_family_headlines = "Whitney A", "Whitney B"
transition_duration = 250ms
