---
title: Banterability
---
<!DOCTYPE html>
<html>
  <head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/styles/fonts.css" />
	<style>
	  body{
		font-family: "ShipsWhistle-Bold";
		font-size: 2rem;
	  }
	</style>
  </head>
  <body>
	{{{ content }}}
  </body>
</html>
