body {
  background-color: rgb(65, 67, 89);
  margin: 0;
}
.main-content {
  display: flex;
}
header,
footer,
main {
  padding: 0.5em 1em;
}

header,
footer {
  background-color: rgb(65, 67, 89);
  color: #eee;
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 800;
}
main {
  background-color: #eee;
  flex-grow: 1;
  font-size: 1.2rem;
}
a {
  color: #005899;
}

header {
  text-align: right;
}

header h1 {
  font-size: 1.25rem;
  font-style: italic;
}

header h1 a {
  text-decoration: none;
}
footer {
  text-align: right;
}
nav ul {
  text-align: right;
  list-style: none;
  padding-left: 0;
}

nav li {
  margin: 0.5rem 0;
}

nav a {
  font-size: 1.75rem;
}

nav .active {
  text-decoration-color: rgb(65, 67, 89);
  color: #fff, ;
}
.chicago-star {
  color: #e4002b;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 800; */
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 700;
}

header a {
  color: #eee;
}
.active {
  text-decoration: none;
  color: #aaa;
}
main {
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 600;
  /* font-family: "Gotham SSm A",
                      "Gotham SSm B";
                      font-style: normal;
                      font-weight: 400; */
}

code,
pre {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  font-style: normal;
  font-weight: 400;
}

.post-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
