body {
  margin: 0;
}
.main-content {
  display: flex;
}
header,
footer {
  background-color: rgb(65, 67, 89);
  color: #eee;
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 800;
}
a {
  color: #005899;
}

.chicago-star {
  color: #e4002b;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 800; */
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 700;
}

header a {
  color: #eee;
}
.active {
  text-decoration: none;
  color: #aaa;
}
main {
  margin: 1em;
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 600;
  /* font-family: "Gotham SSm A",
                      "Gotham SSm B";
                      font-style: normal;
                      font-weight: 400; */
}

code,
pre {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  font-style: normal;
  font-weight: 400;
}

/*
                                                                                .post {
                                                                                  display: flex;
                                                                                  align-items: flex-start;
                                                                                  /* align-items: center;
                                                                                  justify-content: space-between; 
                                                                                }
                                                                                
                                                                                .post .date, .post .title, .post .post-meta {
                                                                                  border: 1px solid #999;
                                                                                  margin: 0;
                                                                                  
                                                                                }
                                                                                
                                                                                .post .date {
                                                                                  text-align: right;
                                                                                  width: 10%;
                                                                                  
                                                                                }
                                                                                
                                                                                .post .title {
                                                                                  text-align: left;
                                                                                  width: 40%;
                                                                                  
                                                                                }
                                                                                .post .post-meta {
                                                                                  width: 25%;
                                                                                  
                                                                            }
                                                                            */

.post {
  margin: 0 2em;
}

.post-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
