---
layout: page
title: Writing
eleventyExcludeFromCollections: true
---
<ul>
  {% for post in collections.post | reverse %}
  <div class="post">
    <abbr class="date" title="{{post.date}}">{{ post.date | readableDate }}</abbr>
    <a href="{{ post.url }}">
      <h3 class="title">{{ post.data.title }}</h3>
    </a>
    <div class="post-meta">
      <div class="subtitle">
      {{ post.data.description }}
      </div>
    </div>
        
      </div>
  {% endfor %}
</ul>