@font-face
  font-family: 'Geomanist'
  src: url('fonts/geomanist-book-webfont.woff2') format('woff2'),
       url('fonts/geomanist-book-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  font-family: Geomanist, Georgia, serif
