@font-face
  font-family: 'Geomanist'
  src: url('fonts/geomanist-book-webfont.woff2') format('woff2'),
       url('fonts/geomanist-book-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SSSocialCircle"
  src: url('fonts/ss-social-circle.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "SSSocialRegular"
  src: url('fonts/ss-social-regular.woff') format('woff')
  font-weight: normal
  font-style: normal

.icon-regular, .icon-circle
  &:before
    font-size: 48px
    font-style: normal
    font-weight: normal
    -moz-osx-font-smoothing: grayscale
    text-decoration: none
    text-rendering: optimizeLegibility
    white-space: nowrap
    -webkit-font-smoothing: antialiased  

body
  font-family: Geomanist, Georgia, serif

.icon-regular:before
  font-family: 'SSSocialRegular'

.icon-circle:before
  font-family: "SSSocialCircle"
