@import 'nib'
@import 'wheel'
@import 'typography'

html
  background-color: rgb(40, 72, 131)
  color: lighten(rgb(255, 255, 255), 30%)

a
  color: red

  &:hover
    color: red

  &:active
    color: red

  &:visited
    color: red

.column
  padding: 5px
