@import 'normalize.css'
@import 'fonts'

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.twitter:before
  content: 'twitter'

.linkedin:before
  content: 'linkedin'

.github:before
  content: 'github'
