body
  background-color: #F3F3F3
  body_font()
  font-size: 18px
  margin-top: 2rem;

h1, h2, h3, h4, h5, h6
  headline_font()

h1
  font-size: 1.5rem

p
  color: #666
  font-size: 1rem
  margin: 0

ul
  margin: .5rem 0 0 0
  padding: 0
  text-align: center

li
  color: #999
  display: inline-block
  font-size: 0.8rem
  text-transform: lowercase


  &::after
    content: "•"

  &:last-child::after
    content: none

a
  color: #4181F3
  transition color transition_duration ease

  &:visited
    color: #9C23EE

  &:hover, &:active
    color: #F3418F

#container
  margin: 0 auto
  width: 290px
