@import 'variables'

body
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B"
  font-weight: 400

strong, h1, h2, h3, h4, h5, h6
  font-weight: 600

h1
  font-size: 3em

p
  font-size: 1em
  line-height: 1.6em
  margin: 1.5em 0
