// Dimensions
$four-up-width = 600px
$two-up-width = $four-up-width / 2 - 10
$one-up-width = $two-up-width / 2 - 10

// Media Queries
$two-column-media-query = "all and (max-width: " + $four-up-width + ")"
$one-column-media-query = "all and (max-width: " + $two-up-width + 20 + ")"

// Colors
$color-background = rgb(73, 81, 76)
$color-foreground = rgb(243, 251, 234)
$color-link = rgb(153, 221, 109)
$color-link-hover = rgb(254, 211, 48)
$color-link-active = lighten($color-link-hover, 35%)
$color-link-visited = lighten($color-link, 35%)
