// Dimensions
$four-up-width = 650px
$two-up-width = $four-up-width / 2 - 10
$one-up-width = $two-up-width / 2 - 10

// Media Queries
$two-column-media-query = "all and (max-width: " + $four-up-width + ")"
$one-column-media-query = "all and (max-width: " + $two-up-width + 20 + ")"

// Colors
$color-background = rgb(50, 50, 50)
$color-foreground = rgb(122, 214, 253)
$color-link = white
$color-link-hover = rgb(105, 146, 246)
$color-link-active = darken($color-link-hover, 35%)
$color-link-visited = $color-link

// Typography
$font-stack = Geomanist, Georgia, serif
