---
layout: base
pagination:
  data: collections
  size: 1
  alias: year
  filter:
    - all
    - post
permalink: /posts/{{year}}/
---
<h1>Posts from {{year}}:</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>