---
layout: base
---

<h3>Elsewhere</h3>
<ul>
  <li>
    <a href="https://github.com/banterability">GitHub</a>
  </li>
  <li>
    <a href="https://www.npmjs.com/~banterability">npm</a>
  </li>
  <li>
    <a href="https://www.instagram.com/banterability/">Instagram</a>
  </li>
  <li>
    <a href="https://twitter.com/banterability">Twitter</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/jeffreylong/">LinkedIn</a>
  </li>
</ul>

<p>Say hi: <code>hello@[this domain]</code>.</p>